html {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

.full-nav-bar {
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #feee00;
  box-shadow: 0 0 10px #ddd;
}
.nav-bar img {
  width: 150px;
}
.nav-bar .logo-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-bar .logo-nav i {
  font-size: 40px;
  margin-right: 15px;
  cursor: pointer;
}
.nav-bar .search-box input {
  border: none;
  height: 35px;
  width: 650px;
  padding: 10px 15px;
  border-radius: 6px;
}
.nav-bar .search-box input:focus {
  border: 2px solid #ffc107;
}
.nav-bar .search-box input:focus-visible {
  border: 2px solid #ffc107;
}
.nav-bar .nav-links #ar-lang {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.nav-bar .nav-links a {
  margin-right: 10px;
  cursor: pointer;
  font-size: 15px;
  padding: 3px 5px;
  font-weight: 500;
  transition: 0.3s;
}
.nav-bar .nav-links a i {
  margin-left: 5px;
}
.nav-bar .nav-links a:hover {
  color: white;
}

@media (min-width: 768px) and (max-width: 840px) {
  .nav-bar .search-box input {
    width: 200px;
  }
}
@media (min-width: 840px) and (max-width: 1115px) {
  .nav-bar .search-box input {
    width: 300px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .logo-nav img {
    width: 100px;
  }
  .nav-bar .search-box input {
    width: 100px;
  }
  .nav-bar .nav-links #ar-lang {
    font-size: 12px;
  }
  .nav-bar .nav-links a {
    /* margin-right: 10px; */
    font-size: 10px;
    font-weight: 500;
    margin-right: 5px;
  }
  .search-box {
    display: none;
  }
}
@media (width: 375px) {
  .nav-bar .nav-links a {
    /* margin-right: 10px; */
    font-size: 9px;
    font-weight: 500;
    margin-right: 5px;
  }
}
.sec-nav {
  background: rgb(252, 251, 244);
  border-bottom: 1px solid rgb(226, 229, 241);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-nav #special-link a {
  text-wrap: nowrap;
  color: #2196f3;
  font-weight: bold;
  margin-right: 5px;
}
.sec-nav #special-link i {
  color: #2196f3;
}
.sec-nav #special-link:hover {
  background-color: #2196f3;
}
.sec-nav #special-link:hover a, .sec-nav #special-link:hover i {
  color: white;
}
.sec-nav #sell-item a {
  color: #f44336;
  font-weight: bold;
}
.sec-nav #sell-item i {
  color: #f44336;
}
.sec-nav #sell-item:hover {
  background-color: #f44336;
}
.sec-nav #sell-item:hover a {
  color: white;
}
.sec-nav #sell-item:hover i {
  color: white;
}
.sec-nav .link-con {
  width: 100%;
  padding: 15px 15px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
  text-wrap: nowrap;
  border-radius: 7px;
  text-align: center;
}
.sec-nav .link-con a {
  margin-left: 5px;
}
.sec-nav .link-con:hover a {
  color: white;
}
.sec-nav .link-con:hover:not(#special-link,
#sell-item,
#electronics-menu,
#mobile-menu,
#men-menu,
#women-menu,
#home-menu,
#health-menu,
#baby-menu,
#supermarket-menu) {
  color: white;
  background-color: #ffc107;
}

#electronics-menu:hover {
  background-color: #ffc107;
}
#electronics-menu:hover i {
  color: white;
}

#mobile-menu:hover {
  background-color: #ffc107;
}
#mobile-menu:hover i {
  color: white;
}

#men-menu:hover {
  background-color: #ffc107;
}
#men-menu:hover i {
  color: white;
}

#women-menu:hover {
  background-color: #ffc107;
}
#women-menu:hover i {
  color: white;
}

#home-menu:hover {
  background-color: #ffc107;
}
#home-menu:hover i {
  color: white;
}

#health-menu:hover {
  background-color: #ffc107;
}
#health-menu:hover i {
  color: white;
}

#baby-menu:hover {
  background-color: #ffc107;
}
#baby-menu:hover i {
  color: white;
}

#supermarket-menu:hover {
  background-color: #ffc107;
}
#supermarket-menu:hover i {
  color: white;
}

#special-link:hover div#categories > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#categories .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#electronics-menu:hover div#electronics > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#electronics .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#mobile-menu:hover div#mobiles > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#mobiles .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#men-menu:hover div#men > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#men .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#women-menu:hover div#women > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#women .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#home-menu:hover div#home > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#home .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#health-menu:hover div#health > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#health .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#baby-menu:hover div#baby > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#baby .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#supermarket-menu:hover div#supermarket > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#supermarket .cat-list {
  transition: 0.3s;
  opacity: 0;
}

.cat-list-container {
  text-align: left;
  z-index: 5;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
}
.cat-list-container .cat-list {
  background: rgb(252, 251, 244);
}
.cat-list-container .cat-list span {
  padding: 10px 20px;
  margin: 5px auto;
  display: block;
  font-size: 14px;
  text-wrap: nowrap;
  border-bottom: 1px solid #eee;
}
.cat-list-container .cat-list span:hover {
  color: #2196f3;
}
.cat-list-container .cat-list-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cat-list-container .cat-list2 {
  background-color: white;
}
.cat-list-container .cat-list-header h2 {
  margin: 5px 10px;
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
  color: #404553;
  cursor: text;
}
.cat-list-container .cat-list-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cat-list-container .cat-list-content-p1 h3 {
  margin: 5px 10px;
  padding: 10px 10px;
  color: #404553;
  text-wrap: nowrap;
  cursor: text;
}
.cat-list-container .cat-list-content-p1 span {
  border: none;
  color: #777;
  font-size: 13px;
  font-weight: 400;
}
.cat-list-container .cat-list-content-p1 span:hover {
  color: #2196f3;
}

.cat-list.cat-list2 {
  transition: 0.3s;
  box-shadow: 7px 1px 16px 0px #ddd;
  border-bottom: 2px solid rgb(226, 229, 241);
  border-right: 2px solid rgb(226, 229, 241);
  padding: 10px 25px;
}
.cat-list.cat-list2 .cat-list-content-p1 .brands-ads {
  display: flex;
  align-items: flex-start;
}
.cat-list.cat-list2 .cat-list-content-p1 .brands .brand-container {
  display: flex;
  flex-direction: row;
}
.cat-list.cat-list2 .cat-list-content-p1 .brands .brand-container img {
  max-width: 150px;
  padding: 10px 20px;
  border: 1px solid #eee;
  margin: 5px;
}
.cat-list.cat-list2 .ad-container {
  display: flex;
  align-items: flex-start;
}
.cat-list.cat-list2 #ad-1 {
  padding: 10px;
  max-width: 100%;
}

@media (min-width: 300px) and (max-width: 1115px) {
  .sec-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .sec-nav .link-con {
    position: relative;
  }
  .sec-nav .link-con {
    text-align: left;
  }
  .sec-nav .link-con .cat-list.cat-list2 .cat-list-content .ad-container {
    display: none;
  }
  .sec-nav #categories {
    min-height: 100vh;
  }
  .sec-nav #electronics {
    min-height: 100vh;
  }
  .sec-nav #mobiles {
    min-height: 100vh;
  }
  .sec-nav #men {
    min-height: 100vh;
  }
  .sec-nav #women {
    min-height: 100vh;
  }
  .sec-nav #home {
    min-height: 100vh;
  }
  .sec-nav #health {
    min-height: 100vh;
  }
  .sec-nav #supermarket {
    min-height: 100vh;
  }
}
@media (min-width: 300px) and (max-width: 600px) {
  .sec-nav .cat-list-container .cat-list-content {
    flex-direction: column;
  }
  .sec-nav .cat-list.cat-list2 {
    padding: 0px;
    overflow-y: scroll;
    height: 150vh;
  }
  .sec-nav .cat-list.cat-list2 .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  .sec-nav .cat-list.cat-list2 .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  #electronics-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #electronics-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #electronics-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #electronics-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #mobile-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #mobile-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #mobile-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #mobile-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #men-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #men-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #men-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #men-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #women-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #women-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #women-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #women-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #home-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #home-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #home-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #home-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #health-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #health-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #health-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #health-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #baby-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #baby-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #baby-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #baby-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #supermarket-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #supermarket-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #supermarket-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #supermarket-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .sec-nav .link-con {
    position: relative;
  }
  .sec-nav #categories {
    min-height: 100vh;
  }
  .sec-nav #electronics {
    min-height: 100vh;
  }
}
.image-slider {
  position: relative;
}
.image-slider .img-active {
  display: block !important;
  opacity: 1 !important;
}
.image-slider .image-slider-container {
  max-width: 100%;
}
.image-slider .image-slider-container img {
  width: -webkit-fill-available;
  transition: 0.5s;
  opacity: 0;
  display: none;
}
.image-slider .image-slider-container .image-slider-active {
  background-color: white;
}
.image-slider .image-slider-container .slider-bar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px auto;
}
.image-slider .image-slider-container .slider-bar li {
  display: block;
  padding: 5px;
  border: solid white 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
.image-slider .image-slider-container .slider-bar li:hover {
  background-color: white;
}
.image-slider .arrow-left,
.image-slider .arrow-right {
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.5s;
}
.image-slider .arrow-left:hover,
.image-slider .arrow-left .arrow-right:hover,
.image-slider .arrow-right:hover,
.image-slider .arrow-right .arrow-right:hover {
  background-color: white;
}
.image-slider .arrow-left {
  left: 30px;
}
.image-slider .arrow-right {
  right: 30px;
}

@media (min-width: 350px) and (max-width: 767px) {
  .image-slider .arrow-left,
  .image-slider .arrow-right {
    font-size: 13px;
    padding: 7px;
  }
  .image-slider .image-slider-container .slider-bar li {
    padding: 4px;
  }
}
@media (min-width: 768px) and (max-width: 915px) {
  .image-slider .arrow-left,
  .image-slider .arrow-right {
    font-size: 15px;
    padding: 15px;
  }
  .image-slider .image-slider-container .slider-bar li {
    padding: 5px;
  }
}
.menu-icons-container {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-icons-container .menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-icons-container .menu-card-img img {
  max-width: 100%;
}
.menu-icons-container .menu-card-footer h4 {
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0px;
}
* ul {
  text-decoration: none;
  list-style: none;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

/* mediaquery */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */