html {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

.full-nav-bar {
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #feee00;
  box-shadow: 0 0 10px #ddd;
}
.nav-bar img {
  width: 150px;
}
.nav-bar .logo-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-bar .logo-nav i {
  font-size: 40px;
  margin-right: 15px;
  cursor: pointer;
}
.nav-bar .search-box input {
  border: none;
  height: 35px;
  width: 650px;
  padding: 10px 15px;
  border-radius: 6px;
}
.nav-bar .search-box input:focus {
  border: 2px solid #ffc107;
}
.nav-bar .search-box input:focus-visible {
  border: 2px solid #ffc107;
}
.nav-bar .nav-links #ar-lang {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.nav-bar .nav-links a {
  margin-right: 10px;
  cursor: pointer;
  font-size: 15px;
  padding: 3px 5px;
  font-weight: 500;
  transition: 0.3s;
}
.nav-bar .nav-links a i {
  margin-left: 5px;
}
.nav-bar .nav-links a:hover {
  color: white;
}

@media (min-width: 768px) and (max-width: 840px) {
  .nav-bar .search-box input {
    width: 200px;
  }
}
@media (min-width: 840px) and (max-width: 1115px) {
  .nav-bar .search-box input {
    width: 300px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .logo-nav img {
    width: 100px;
  }
  .nav-bar .search-box input {
    width: 100px;
  }
  .nav-bar .nav-links #ar-lang {
    font-size: 12px;
  }
  .nav-bar .nav-links a {
    /* margin-right: 10px; */
    font-size: 10px;
    font-weight: 500;
    margin-right: 5px;
  }
  .search-box {
    display: none;
  }
}
@media (width: 375px) {
  .nav-bar .nav-links a {
    /* margin-right: 10px; */
    font-size: 9px;
    font-weight: 500;
    margin-right: 5px;
  }
}
.sec-nav {
  background: rgb(252, 251, 244);
  border-bottom: 1px solid rgb(226, 229, 241);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec-nav #special-link a {
  text-wrap: nowrap;
  color: #2196f3;
  font-weight: bold;
  margin-right: 5px;
}
.sec-nav #special-link i {
  color: #2196f3;
}
.sec-nav #special-link:hover {
  background-color: #2196f3;
}
.sec-nav #special-link:hover a, .sec-nav #special-link:hover i {
  color: white;
}
.sec-nav #sell-item a {
  color: #f44336;
  font-weight: bold;
}
.sec-nav #sell-item i {
  color: #f44336;
}
.sec-nav #sell-item:hover {
  background-color: #f44336;
}
.sec-nav #sell-item:hover a {
  color: white;
}
.sec-nav #sell-item:hover i {
  color: white;
}
.sec-nav .link-con {
  width: 100%;
  padding: 15px 15px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
  text-wrap: nowrap;
  border-radius: 7px;
  text-align: center;
}
.sec-nav .link-con a {
  margin-left: 5px;
}
.sec-nav .link-con:hover a {
  color: white;
}
.sec-nav .link-con:hover:not(#special-link,
#sell-item,
#electronics-menu,
#mobile-menu,
#men-menu,
#women-menu,
#home-menu,
#health-menu,
#baby-menu,
#supermarket-menu) {
  color: white;
  background-color: #ffc107;
}

#electronics-menu:hover {
  background-color: #ffc107;
}
#electronics-menu:hover i {
  color: white;
}

#mobile-menu:hover {
  background-color: #ffc107;
}
#mobile-menu:hover i {
  color: white;
}

#men-menu:hover {
  background-color: #ffc107;
}
#men-menu:hover i {
  color: white;
}

#women-menu:hover {
  background-color: #ffc107;
}
#women-menu:hover i {
  color: white;
}

#home-menu:hover {
  background-color: #ffc107;
}
#home-menu:hover i {
  color: white;
}

#health-menu:hover {
  background-color: #ffc107;
}
#health-menu:hover i {
  color: white;
}

#baby-menu:hover {
  background-color: #ffc107;
}
#baby-menu:hover i {
  color: white;
}

#supermarket-menu:hover {
  background-color: #ffc107;
}
#supermarket-menu:hover i {
  color: white;
}

#special-link:hover div#categories > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#categories .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#electronics-menu:hover div#electronics > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#electronics .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#mobile-menu:hover div#mobiles > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#mobiles .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#men-menu:hover div#men > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#men .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#women-menu:hover div#women > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#women .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#home-menu:hover div#home > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#home .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#health-menu:hover div#health > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#health .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#baby-menu:hover div#baby > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#baby .cat-list {
  transition: 0.3s;
  opacity: 0;
}

#supermarket-menu:hover div#supermarket > .cat-list {
  visibility: visible;
  opacity: 1;
}

div#supermarket .cat-list {
  transition: 0.3s;
  opacity: 0;
}

.cat-list-container {
  text-align: left;
  z-index: 5;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
}
.cat-list-container .cat-list {
  background: rgb(252, 251, 244);
}
.cat-list-container .cat-list span {
  padding: 10px 20px;
  margin: 5px auto;
  display: block;
  font-size: 14px;
  text-wrap: nowrap;
  border-bottom: 1px solid #eee;
}
.cat-list-container .cat-list span:hover {
  color: #2196f3;
}
.cat-list-container .cat-list-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cat-list-container .cat-list2 {
  background-color: white;
}
.cat-list-container .cat-list-header h2 {
  margin: 5px 10px;
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
  color: #404553;
  cursor: text;
}
.cat-list-container .cat-list-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cat-list-container .cat-list-content-p1 h3 {
  margin: 5px 10px;
  padding: 10px 10px;
  color: #404553;
  text-wrap: nowrap;
  cursor: text;
}
.cat-list-container .cat-list-content-p1 span {
  border: none;
  color: #777;
  font-size: 13px;
  font-weight: 400;
}
.cat-list-container .cat-list-content-p1 span:hover {
  color: #2196f3;
}

.cat-list.cat-list2 {
  transition: 0.3s;
  box-shadow: 7px 1px 16px 0px #ddd;
  border-bottom: 2px solid rgb(226, 229, 241);
  border-right: 2px solid rgb(226, 229, 241);
  padding: 10px 25px;
}
.cat-list.cat-list2 .cat-list-content-p1 .brands-ads {
  display: flex;
  align-items: flex-start;
}
.cat-list.cat-list2 .cat-list-content-p1 .brands .brand-container {
  display: flex;
  flex-direction: row;
}
.cat-list.cat-list2 .cat-list-content-p1 .brands .brand-container img {
  max-width: 150px;
  padding: 10px 20px;
  border: 1px solid #eee;
  margin: 5px;
}
.cat-list.cat-list2 .ad-container {
  display: flex;
  align-items: flex-start;
}
.cat-list.cat-list2 #ad-1 {
  padding: 10px;
  max-width: 100%;
}

@media (min-width: 300px) and (max-width: 1115px) {
  .sec-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .sec-nav .link-con {
    position: relative;
  }
  .sec-nav .link-con {
    text-align: left;
  }
  .sec-nav .link-con .cat-list.cat-list2 .cat-list-content .ad-container {
    display: none;
  }
  .sec-nav #categories {
    min-height: 100vh;
  }
  .sec-nav #electronics {
    min-height: 100vh;
  }
  .sec-nav #mobiles {
    min-height: 100vh;
  }
  .sec-nav #men {
    min-height: 100vh;
  }
  .sec-nav #women {
    min-height: 100vh;
  }
  .sec-nav #home {
    min-height: 100vh;
  }
  .sec-nav #health {
    min-height: 100vh;
  }
  .sec-nav #supermarket {
    min-height: 100vh;
  }
}
@media (min-width: 300px) and (max-width: 600px) {
  .sec-nav .cat-list-container .cat-list-content {
    flex-direction: column;
  }
  .sec-nav .cat-list.cat-list2 {
    padding: 0px;
    overflow-y: scroll;
    height: 150vh;
  }
  .sec-nav .cat-list.cat-list2 .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  .sec-nav .cat-list.cat-list2 .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  #electronics-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #electronics-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #electronics-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #electronics-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #mobile-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #mobile-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #mobile-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #mobile-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #men-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #men-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #men-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #men-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #women-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #women-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #women-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #women-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #home-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #home-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #home-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #home-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #health-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #health-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #health-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #health-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #baby-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #baby-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #baby-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #baby-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
  #supermarket-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #supermarket-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #supermarket-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
  }
  #supermarket-menu .cat-list-content-p1 .brand-container img {
    max-width: 130px;
    padding: 10px 20px;
    margin: 10px 3px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .sec-nav .link-con {
    position: relative;
  }
  .sec-nav #categories {
    min-height: 100vh;
  }
  .sec-nav #electronics {
    min-height: 100vh;
  }
}
.image-slider {
  position: relative;
}
.image-slider .img-active {
  display: block !important;
  opacity: 1 !important;
}
.image-slider .image-slider-container {
  max-width: 100%;
}
.image-slider .image-slider-container img {
  width: -webkit-fill-available;
  transition: 0.5s;
  opacity: 0;
  display: none;
}
.image-slider .image-slider-container .image-slider-active {
  background-color: white;
}
.image-slider .image-slider-container .slider-bar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px auto;
}
.image-slider .image-slider-container .slider-bar li {
  display: block;
  padding: 5px;
  border: solid white 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
.image-slider .image-slider-container .slider-bar li:hover {
  background-color: white;
}
.image-slider .arrow-left,
.image-slider .arrow-right {
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.5s;
}
.image-slider .arrow-left:hover,
.image-slider .arrow-left .arrow-right:hover,
.image-slider .arrow-right:hover,
.image-slider .arrow-right .arrow-right:hover {
  background-color: white;
}
.image-slider .arrow-left {
  left: 30px;
}
.image-slider .arrow-right {
  right: 30px;
}

@media (min-width: 350px) and (max-width: 767px) {
  .image-slider .arrow-left,
  .image-slider .arrow-right {
    font-size: 13px;
    padding: 7px;
  }
  .image-slider .image-slider-container .slider-bar li {
    padding: 3px;
  }
}
@media (min-width: 768px) and (max-width: 915px) {
  .image-slider .arrow-left,
  .image-slider .arrow-right {
    font-size: 15px;
    padding: 15px;
  }
  .image-slider .image-slider-container .slider-bar li {
    padding: 5px;
  }
}
.ad-section-parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
  padding: 20px;
  background-color: #ececec;
}
.ad-section-parent .ad-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}
.ad-section-parent .ad-section-card-header {
  margin: 10px 0px;
  padding: 10px 20px;
}
.ad-section-parent .ad-section #ad-special {
  flex-direction: column;
}
.ad-section-parent .ad-section-component {
  display: flex;
}
.ad-section-parent .ad-section-card {
  padding: 20px;
}
.ad-section-parent .ad-section-card-img {
  margin: -3px 0px;
}
.ad-section-parent .ad-section-card-img img {
  border-radius: 6px;
  max-width: 100%;
}
.ad-section-parent .ad-section-footer {
  border-radius: 6px;
  padding: 10px 15px;
  background-color: #e7e7e7;
}
.ad-section-parent .ad-section-footer h4 {
  font-size: 17px;
}
.ad-section-parent .ad-section-footer p {
  font-size: 13px;
}

.slider {
  width: 100%;
  height: 600px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #ececec;
  margin-bottom: -30px;
}
.slider .slider-header h3 {
  padding: 10px 20px;
  font-size: 22px;
  margin: 5px 10px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-card {
  padding: 10px 20px;
  border-radius: 12px;
  background-color: white;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-card-img {
  width: 250px;
}
.slider-card-img img {
  max-width: 100%;
}
.slider-card-info h3 {
  margin: 5px 0px;
  font-size: 15px;
}
.slider-card-info #sale-num {
  text-decoration: line-through;
  display: inline-block;
}
.slider-card-info span {
  font-weight: bold;
  text-decoration: none;
  color: rgb(31, 194, 31);
  font-size: 13px;
}
.slider-card-info p {
  color: #777;
  font-size: 11px;
}
.slider-card-info p span {
  font-weight: bold;
  font-size: 15px;
  color: black !important;
}
.slider-card .product-slider-rating i {
  color: #feee00;
  font-size: 15px;
}
.slider-card .slider-badge-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.slider-card .slider-badge-info .slider-badge {
  background-color: #feee00;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
}
.slider-card .slider-badge-info .slider-badge i {
  color: black;
  font-size: 13px;
}
.slider-card .slider-badge-info .slider-badge-rating {
  background-color: rgb(31, 194, 31);
  border-radius: 50px;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}
.slider-card .slider-badge-info .slider-badge-rating i {
  color: white;
  font-size: 10px;
}
.slider-card .slider-badge-info .slider-badge-counter {
  color: #666;
  font-weight: 300;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
  background-color: #ececec;
  border-radius: 10px;
  padding: 20px;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 10px 14px;
  font-size: 15px;
  border-radius: 50%;
  background: #fff;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px -1px;
  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}

.ad-sec-2 {
  padding: 20px;
  margin: 20px 0px;
}
.ad-sec-2 .ad-sec-header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ad-sec-2 .ad-sec-header-2 .text-header h3 {
  font-size: 25px;
}
.ad-sec-2 .ad-sec-header-2 .header-button button {
  margin: 0px;
  border: none;
  background-color: black;
  padding: 13px 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2.2px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid black;
}
.ad-sec-2 .ad-sec-header-2 .header-button button:hover {
  background-color: white;
  color: black;
}
.ad-sec-2 .sec-cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ad-sec-2 .sec-cards .sec-ad-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ad-sec-2 .sec-cards .sec-ad-card .sec-ad-footer {
  margin-top: -5px;
  width: 100%;
  padding: 10px 8px;
  background-color: #ececec;
}
.ad-sec-2 .sec-cards .sec-ad-card .sec-ad-footer h3 {
  text-align: center;
}

@media (min-width: 360px) and (max-width: 850px) {
  .sec-cards {
    flex-direction: column;
  }
  .sec-ad-card {
    margin: 15px 0px;
  }
  .sec-ad-footer h3 {
    font-size: 16px;
  }
  .ad-sec-2 .ad-sec-header-2 .text-header h3 {
    font-size: 20px;
  }
  .ad-sec-2 .ad-sec-header-2 .header-button button {
    padding: 10px 15px;
    font-size: 13px;
  }
}
.read-more-container {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  gap: 1rem;
  padding: 20px 0px;
}

.container {
  padding: 2rem;
  line-height: 1.4rem;
}
.container .highlight {
  color: #0984e3;
  text-decoration: underline;
}
.container h3 {
  margin: 10px 0px;
  color: #404553;
}
.container p {
  font-size: 13px;
  color: rgb(126, 133, 155);
}
.container span:not(.read-more-btn, .highlight) {
  color: rgb(126, 133, 155);
}

.read-more-btn {
  color: #0984e3;
  cursor: pointer;
}

.read-more-text {
  display: none;
}

.read-more-text--show {
  display: inline;
}

@media (min-width: 367px) and (max-width: 900px) {
  .container h3 {
    font: 13px;
  }
  .container p {
    font-size: 10px;
  }
  .container .read-more-btn {
    font-size: 11px;
  }
}
.footer {
  border-top: 1px solid #b9b9b9;
  background-color: #ececec;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-left h3 {
  text-wrap: nowrap;
  color: #404553;
}
.footer-left p {
  color: #777;
  font-size: 14px;
}
.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-right .footer-i {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  cursor: pointer;
}
.footer-right .footer-i:hover {
  opacity: 0.6;
}
.footer-right .footer-i i {
  font-size: 13px;
  background-color: white;
  border-radius: 50%;
  padding: 5px 6px;
  border: 1px solid black;
  margin-right: 10px;
}
.footer-right .footer-i-info .footer-info-header {
  font-weight: 400;
  font-size: 13px;
  color: #666;
}
.footer-right .footer-i-info .footer-info-header2 {
  font-weight: 500;
  font-size: 15px;
  color: #404553;
}

@media (min-width: 367px) and (max-width: 900px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-left {
    margin: 10px 0px;
  }
  .footer-left h3 {
    text-align: center;
    font-size: 13px;
  }
  .footer-left p {
    font-size: 10px;
  }
  .footer-right .footer-i-info .footer-info-header {
    font-size: 10px;
  }
  .footer-right .footer-i-info .footer-info-header2 {
    font-size: 12px;
  }
}
.footer-2 {
  height: 70vh;
  margin: 20px 0px;
}
.footer-2 .footer-lists-container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}
.footer-2 .footer-lists-container .footer-list-element {
  padding: 10px 20px;
}
.footer-2 .footer-lists-container .footer-list-element h3 {
  font-size: 15px;
  font-weight: 500;
}
.footer-2 .footer-lists-container .footer-list-element ul {
  padding: 0;
  line-height: 2.2;
}
.footer-2 .footer-lists-container .footer-list-element ul li {
  color: #777;
  font-size: 13px;
  cursor: pointer;
}
.footer-2 .footer-lists-container .footer-list-element ul li:hover {
  color: #2196f3;
}
.footer-2 .footer-connect {
  position: relative;
}
.footer-2 .footer-connect .footer-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-2 .footer-connect h3 {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
.footer-2 .footer-connect .contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.footer-2 .footer-connect .contact i {
  background-color: #feee00;
  color: #404553;
  padding: 14px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  margin: 0px 5px;
  transition: 0.5s;
}
.footer-2 .footer-connect .contact i:hover {
  background-color: #404553;
  color: #feee00;
}

* {
  box-sizing: border-box;
  margin: 0px;
}
* ul {
  text-decoration: none;
  list-style: none;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=main.css.map */