$main_color: #feee00;
$sec_color: #ffc107;
$box_shadow: 0 0 10px #ddd;
$section_background: #ececec;
$main_transition: 0.3s;
$sup_text: #666;
$sup_text2: #777;
$sup_text3: #404553;
$hover_color: #2196f3;
