.menu-icons {
  &-container {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-img {
        img {
          max-width: 100%;
        }
      }
      &-footer {
        h4 {
          font-weight: bold;
          span {
          }
        }
      }
    }
  }
}
