@use "./color_ref" as *;
.sec-nav {
  background: rgb(252, 251, 244);
  border-bottom: 1px solid rgb(226, 229, 241);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  #special-link {
    a {
      text-wrap: nowrap;
      color: #2196f3;
      font-weight: bold;
      margin-right: 5px;
    }
    i {
      color: #2196f3;
    }
    &:hover {
      background-color: $hover_color;
    }
    &:hover a,
    &:hover i {
      color: white;
    }
  }
  #sell-item {
    a {
      color: #f44336;
      font-weight: bold;
    }
    i {
      color: #f44336;
    }
    &:hover {
      background-color: #f44336;
    }
    &:hover a {
      color: white;
    }
    &:hover i {
      color: white;
    }
  }
  .link-con {
    width: 100%;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    text-wrap: nowrap;
    position: relative;
    border-radius: 7px;
    text-align: center;
    a {
      margin-left: 5px;
    }
    &:hover a {
      color: white;
    }
    &:hover:not(#special-link, #sell-item) {
      color: white;
      background-color: $sec_color;
      // background-color: rgb(255, 255, 255);
      // box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 4px 0px;
    }
  }
}

#special-link:hover div#categories>.cat-list {
  visibility: visible;
  opacity: 1;
}
div#categories .cat-list {
  transition: $main_transition;
  opacity: 0;
}
.cat-list-container {
  z-index: 5;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;

  .cat-list {
    background: rgb(252, 251, 244);

    span {
      padding: 10px 20px;
      margin: 5px auto;
      display: block;
      font-size: 14px;
      text-wrap: nowrap;
      border-bottom: 1px solid #eee;
    }
    span:hover {
      color: $hover_color;
    }
  }
  .cat-list-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cat-list2 {
    background-color: white;
  }
  .cat-list-header {
    h2 {
      margin: 5px 10px;
      padding: 10px 10px;
      border-bottom: 1px solid #eee;
      color: $sup_text3;
      cursor: text;
    }
  }
  .cat-list-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // flex-direction: column;
  }
  .cat-list-content-p1 {
    h3 {
      margin: 5px 10px;
      padding: 10px 10px;
      color: #404553;
      text-wrap: nowrap;
      cursor: text;
    }
    span {
      border: none;
      color: #777;
      font-size: 13px;
      font-weight: 400;
    }
    span:hover {
      color: $hover_color;
    }
  }
}
.cat-list.cat-list2 {
  transition: $main_transition;
  box-shadow: 7px 1px 16px 0px #ddd;
  border-bottom: 2px solid rgb(226, 229, 241);
  border-right: 2px solid rgb(226, 229, 241);
  padding: 10px 25px;
}
// #electro-menu,
// #mobile-menu,
// #grocery-menu,
// #beauty-menu,
// #fashion-menu,
// #home-menu,
// #Sports-menu,
// #Baby-menu,
// #Automotive-menu,
// #Books-menu,
// #Stationery-menu,
// #Music-menu {
//   display: none;
// }
// #link1:hover+#electro-menu{
//   display: block;
// }

@media (min-width: 300px) and (max-width: 1115px) {
  .sec-nav {
    flex-direction: column;
    align-items: flex-start;
    & .link-con {
      text-align: left;
    }
  }
}
@media (min-width: 300px) and (max-width: 600px) {
  .sec-nav {
    .cat-list-container {
      .cat-list-content {
        flex-direction: column;
      }
    }
    .cat-list.cat-list2 {
      padding: 0px;
      overflow-y: scroll;
      height: 150vh;
    }
  }
}
