@use "./color_ref" as *;
.sec-nav {
  background: rgb(252, 251, 244);
  border-bottom: 1px solid rgb(226, 229, 241);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #special-link {
    a {
      text-wrap: nowrap;
      color: #2196f3;
      font-weight: bold;
      margin-right: 5px;
    }
    i {
      color: #2196f3;
    }
    &:hover {
      background-color: $hover_color;
    }
    &:hover a,
    &:hover i {
      color: white;
    }
  }
  #sell-item {
    a {
      color: #f44336;
      font-weight: bold;
    }
    i {
      color: #f44336;
    }
    &:hover {
      background-color: #f44336;
    }
    &:hover a {
      color: white;
    }
    &:hover i {
      color: white;
    }
  }
  .link-con {
    width: 100%;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    text-wrap: nowrap;

    border-radius: 7px;
    text-align: center;
    a {
      margin-left: 5px;
    }
    &:hover a {
      color: white;
    }
    &:hover:not(
        #special-link,
        #sell-item,
        #electronics-menu,
        #mobile-menu,
        #men-menu,
        #women-menu,#home-menu,#health-menu
      ) {
      color: white;
      background-color: $sec_color;
      // background-color: rgb(255, 255, 255);
      // box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 4px 0px;
    }
  }
}
#electronics-menu {
  &:hover {
    background-color: $sec_color;
  }
  &:hover i {
    color: white;
  }
}
#mobile-menu {
  &:hover {
    background-color: $sec_color;
  }
  &:hover i {
    color: white;
  }
}
#men-menu {
  &:hover {
    background-color: $sec_color;
  }
  &:hover i {
    color: white;
  }
}
#women-menu {
  &:hover {
    background-color: $sec_color;
  }
  &:hover i {
    color: white;
  }
}
#home-menu {
  &:hover {
    background-color: $sec_color;
  }
  &:hover i {
    color: white;
  }
}
#health-menu {
  &:hover {
    background-color: $sec_color;
  }
  &:hover i {
    color: white;
  }
}
#special-link:hover div#categories > .cat-list {
  visibility: visible;
  opacity: 1;
}
div#categories .cat-list {
  transition: $main_transition;
  opacity: 0;
}
#electronics-menu:hover div#electronics > .cat-list {
  visibility: visible;
  opacity: 1;
}
div#electronics .cat-list {
  transition: $main_transition;
  opacity: 0;
}
#mobile-menu:hover div#mobiles > .cat-list {
  visibility: visible;
  opacity: 1;
}
div#mobiles .cat-list {
  transition: $main_transition;
  opacity: 0;
}
#men-menu:hover div#men > .cat-list {
  visibility: visible;
  opacity: 1;
}
div#men .cat-list {
  transition: $main_transition;
  opacity: 0;
}
#women-menu:hover div#women > .cat-list {
  visibility: visible;
  opacity: 1;
}
div#women .cat-list {
  transition: $main_transition;
  opacity: 0;
}
#home-menu:hover div#home > .cat-list {
  visibility: visible;
  opacity: 1;
}
div#home .cat-list {
  transition: $main_transition;
  opacity: 0;
}
#health-menu:hover div#health > .cat-list {
  visibility: visible;
  opacity: 1;
}
div#health .cat-list {
  transition: $main_transition;
  opacity: 0;
}
.cat-list-container {
  text-align: left;
  z-index: 5;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;

  .cat-list {
    background: rgb(252, 251, 244);

    span {
      padding: 10px 20px;
      margin: 5px auto;
      display: block;
      font-size: 14px;
      text-wrap: nowrap;
      border-bottom: 1px solid #eee;
    }
    span:hover {
      color: $hover_color;
    }
  }
  .cat-list-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cat-list2 {
    background-color: white;
  }
  .cat-list-header {
    h2 {
      margin: 5px 10px;
      padding: 10px 10px;
      border-bottom: 1px solid #eee;
      color: $sup_text3;
      cursor: text;
    }
  }
  .cat-list-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // flex-direction: column;
  }
  .cat-list-content-p1 {
    h3 {
      margin: 5px 10px;
      padding: 10px 10px;
      color: #404553;
      text-wrap: nowrap;
      cursor: text;
    }
    span {
      border: none;
      color: #777;
      font-size: 13px;
      font-weight: 400;
    }
    span:hover {
      color: $hover_color;
    }
  }
}
.cat-list.cat-list2 {
  transition: $main_transition;
  box-shadow: 7px 1px 16px 0px #ddd;
  border-bottom: 2px solid rgb(226, 229, 241);
  border-right: 2px solid rgb(226, 229, 241);
  padding: 10px 25px;
  .cat-list-content-p1 {
    .brands-ads {
      display: flex;
      align-items: flex-start;
    }
    .brands .brand-container {
      display: flex;
      flex-direction: row;
      & img {
        max-width: 150px;
        padding: 10px 20px;
        border: 1px solid #eee;
        margin: 5px;
      }
    }
  }
  .ad-container {
    display: flex;
    align-items: flex-start;
  }
  #ad-1 {
    padding: 10px;
    max-width: 100%;
  }
}

@media (min-width: 300px) and (max-width: 1115px) {
  .sec-nav {
    flex-direction: column;
    align-items: flex-start;
    & .link-con {
      text-align: left;
    }
    .link-con .cat-list.cat-list2 .cat-list-content .ad-container {
      display: none;
    }
  }
}
@media (min-width: 300px) and (max-width: 600px) {
  .sec-nav {
    .link-con {
      position: relative;
    }
    .cat-list-container {
      .cat-list-content {
        flex-direction: column;
      }
    }
    .cat-list.cat-list2 {
      padding: 0px;
      overflow-y: scroll;
      height: 150vh;
    }
    #categories {
      min-height: 150vh;
    }
    #electronics {
      min-height: 150vh;
    }
    #mobiles {
      min-height: 150vh;
    }
    #men {
      min-height: 150vh;
    }
    #women {
      min-height: 150vh;
    }
    #home {
      min-height: 150vh;
    }
    .cat-list.cat-list2 .cat-list-content-p1 .brand-container {
      flex-direction: column;
    }
    #health {
      min-height: 150vh;
    }
    .cat-list.cat-list2 .cat-list-content-p1 .brand-container {
      flex-direction: column;
    }
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  #electronics-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #electronics-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #electronics-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
    & img {
      max-width: 130px;
      padding: 10px 20px;
      margin: 10px 3px;
    }
  }
  #mobile-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #mobile-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #mobile-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
    & img {
      max-width: 130px;
      padding: 10px 20px;
      margin: 10px 3px;
    }
  }
  #men-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #men-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #men-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
    & img {
      max-width: 130px;
      padding: 10px 20px;
      margin: 10px 3px;
    }
  }
  #women-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #women-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #women-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
    & img {
      max-width: 130px;
      padding: 10px 20px;
      margin: 10px 3px;
    }
  }
  #home-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #home-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #home-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
    & img {
      max-width: 130px;
      padding: 10px 20px;
      margin: 10px 3px;
    }
  }
  #health-menu .cat-list-header h2 {
    font-size: 17px;
  }
  #health-menu .cat-list-content-p1 h3 {
    font-size: 15px;
    text-align: center;
  }
  #health-menu .cat-list-content-p1 .brand-container {
    flex-direction: column;
    & img {
      max-width: 130px;
      padding: 10px 20px;
      margin: 10px 3px;
    }
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .sec-nav {
    .link-con {
      position: relative;
    }
    #categories {
      min-height: 100vh;
    }
    #electronics {
      min-height: 100vh;
    }
  }
}
