// import files
@use "./color_ref" as *;
@use "./animations";
@use "./fonts";
@use "./nav-bar";
@use "./sec-nav";
@use "./image_slider";
@use "./ad-section";
@use "./product-scroller";
@use "./ad-section-2";
@use "./read-more";
@use "./footer";
@use "./footer2";
// @use "./sec-nav\(electro\)";
// global settings
* {
  box-sizing: border-box;
  margin: 0px;
  ul {
    text-decoration: none;
    list-style: none;
  }
}

.active {
  display: block;
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
  color: black;
}
